/***********GENERAL**********/

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

header,
main,
footer,
nav,
aside,
section {
    display: block;
}

body {
    height: 100%;
}

#wrapper {
    max-width: 1643px;
    margin: 0px auto; 
}

#Container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

button {
    font-size: 20px;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 176px;
    background-color: #FFA834;
    position: relative;
}

.logo {
    background: url("/students/2021-2022/web1/dev_214/images/logo.png");
    width: 273px;
    height: 130px;
    margin-top: 23px;
    margin-left: 33px;
}

.user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 33px;
    width: 250px;
}

.user h4 {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px
}

.user span {
    margin-right: 5px;
}

.Shoshi {
    border-radius: 100%;
    width: 100px;
}

.headerLine {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 1px;
}


/*MENU*/

#v-pills-tab {
    width: 277px;
    background-color: #FFA834;
    
}

.nav-link {
    width: 100%;
    height: 80px;
    color: #000000;
    text-align: center;
    font-size: 24px;
}

.offcanvas {
    background-color: #FFA834;
}

.nav-link:focus {
    color: #000000;
}

.nav-link:hover {
    background-color: #D68227;
    color: black;
}

#v-pills-tab ul {
    padding-inline-start: 0px;
}

#v-pills-tab li {
    list-style-type: none;
    width: 100%;
}

#v-pills-select-tab {
    color: #000000;
    background-color: #D68227;
    font-weight: bold;
}

.dividerLine {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 1px;
    opacity: 20%;
}

/*MAIN*/

#homePageMain {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#listMain {
    width: 72%;
    justify-content: flex-start;
    margin-left: 50px;
}

#objectMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
}

#breadCrumbsAndSearchBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.breadcrumb {
    background-color: white;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
}

.breadcrumb-item a {
    color: black;
}
#searchBar {
    width: 250px;
}

main h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 30px;
}

#sort {
    display: flex;
}

#sort button {
    margin-left: 20px;
    height: 60%;
    border-radius: 20px;
    width: 70px;
}

/*ASIDE*/

aside {
    margin-top: 40px;
    width: 25%;
    min-width: 400px;
}

#listAside {
    width: 20%;
    min-width: 350px;
    margin-top: -20px;
}

.newDanger {
    width: 300px;
}

#searchBarAndTitle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;

}

.bg-light {
    background-color: white !important;
    margin-top: 5px;
}

.btn {
    border-color: #000000;
    height: 38px;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #D68227;
    border-color: #000000;
}

.btn-outline-success:focus {
    color: #fff !important;
    background-color: #D68227 !important;
    border-color: #000000 !important;
}

#searchImg {
    width: 24px;
}

h3 {
    font-weight: bold;
}

.form-control {
    border-color: #000000;
    margin-left: 5px;

}

/*FOOTER*/

footer {
    height: 130px;
    width: 100%;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********HOME PAGE**********/

.titles {
    display: flex;
    justify-content: space-between;
    width: 790px;

}

.leftMain {
    width: 25%;
    margin-bottom: 30px;
    min-width: 300px;
}

.upperDiv {
    margin-bottom: 60px;
}

.lowerDiv {
    margin-bottom: 30px;
}

.rightMain {
    max-width: 58%;
    margin-bottom: 30px;
}

.rightMain section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rightMain article {
    width: 30%;
    min-width: 200px;
    margin: 10px;
}

.rightMain article h2 {
    font-size: large;
    margin: 20px 0px 10px 15px;
}

.rightMain article h5 {
    font-size: medium;
}

.dogDetails {
    align-items: baseline;
    margin-left: 0px;
    margin-top: 20px;
}

.dogDetails h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.dogDetails h4 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.todayTracks {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-left: 0px;
}

.todayTracks h2 {
    margin-left: 0px;
}

.todayTracks img {
    width: 75px;
    height: 32px;
}

.todayTracks button {
    background: none;
    border: none;
    text-align: start;
    height: 40px;
}

.trackDetails {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    height: 80px;
}

.trackDetails img {
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
}

.homePageTable {
    width: 500px;
}

/*HOME PAGE ASIDE*/

.picSlider {
    margin-top: 80px;
}

.picSlider h3 {
    margin-bottom: 40px;
}

.mySlides {
    display: none;
    margin-bottom: 10px;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
}

.mySlides img {
    vertical-align: middle;
    width: 100%;
    border-radius: 30px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: black;
    font-size: 16px;
    padding: 16px 24px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.activate,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/***********OBJECT PAGE**********/

.objectTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 10px;
}



.leftTitle h2 {

    height: 54px;
    font-weight: 700;
    font-size: 35px;
    line-height: 58px;
    width: auto;
    margin-right: 70px;
}

.rightTitle {
    display: flex;
    align-items: baseline;
}

.rightTitle h3 {
    margin-right: 30px;
}

.objectTitle h3 {
    margin-right: 20px;
}

.rightTitle h4 {
    margin-top: 55px;
}
.dangerDetails {
    width: 300px;
}

.dangerDetails h3 {
    margin-top: 50px;
}

.uploaderComment {
    margin-left: 50px;
    max-width: 690px;
    margin-bottom: 10px;
}

.uploaderComment h3 {
    margin: 10px 0px 15px 0px;
}

.uploaderComment h4 {
    margin-left: 20px;
}

.uploaderComment p {
    margin-left: 10px;
    width: 80%;
    font-size: x-large;
}

.uploaderComment img{
    width: 90%;
}

#buttons {
    display: flex;
}

#aprove {
    display: flex;
    justify-content: flex-end;
    width: 600px;
}

.objectButton {
    width: 152px;
    height: 46px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
    border: 0.25px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    background: #EBEBEB;
    cursor: pointer;
}

.ApprovedButton {
    background-color: lightgreen;
}

.red {
    background: rgba(255, 56, 35, 0.7);

}

.green {
    background-color: #7CEE54;
}

.dangerDetails img {
    width: fit-content;
    height: fit-content;
}

/*OBJECT PAGE ASIDE*/

.moreComments {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 30px;
}

.total-comments {
    width: 90%;
}

.moreComments h3 {
    margin-bottom: 20px;
}

.moreComments button {
    background: none;
    border: none;
    text-align: start;
    height: 40px;
}

.commentEditor {
    background: none;
    border: none;
    font-weight: bold;
    text-align: start;
    height: 40px;
    margin-left: 20px;
}

.comments {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin-top: 10px;
}

.commentTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.commentTitle p {
    font-size: 11px;
}

.comments h6 {
    margin-bottom: 20px;
}

/***********LIST PAGE**********/

#dangersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

article {
    max-width: 350px;
    overflow: hidden;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    background: rgb(224, 224, 224);
}

article h2 {
margin: 20px 0px 40px 15px;
font-weight: bold;
}

article h4 {
margin: 0px 0px 10px 25px;
font-weight: bold;
}
article h5 {
    margin-left: 25px;
    margin-bottom: 30px;
}

article a, #listMain a {
    color: #000000;
}

article:hover {
    background-color: rgb(192, 190, 190);
}

article a:hover, #listMain a:hover {
    color: #000000;
    text-decoration: none;
}

#listMain a h3 {
    font-weight:normal;
}

#listMain a h3:hover {
    font-weight:bold;
}

article img {
   width: 100%;
   height: fit-content;
}

.table {
    margin-left: 36px;
    height: 650px;
}

.table th,
.table td {
    vertical-align: middle;
}

thead {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

tbody {
    font-size: 18px;
    text-align: center;

}

tbody img {
    width: 30px;
    height: 30px;
}

td a {
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
}

td a:hover {
    color: #D68227;
    font-weight: bold;
    text-decoration: none;
}

.low {
    color: rgb(48, 180, 48) !important;
    font-weight: bold;
}

.mid {
    color: orange !important;
    font-weight: bold;
}

.high {
    color: red !important;
    font-weight: 600;
}

/*LIST PAGE ASIDE*/

.form-group {
    margin-bottom: 25px;
}

.pic {
    margin-right: 50px;
}
.newDangerTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.newDangerTitle h3 {
    font-weight: bold;
}

.form-select {
    width: 300px;
    margin-bottom: 25px;
}

.form-check {
    margin-bottom: 10px;
}

#High:checked {
    background-color: red;
    border-color: red;
}

#Mid:checked {
    background-color: orange;
    border-color: orange;
}

#Low:checked {
    background-color: rgb(48, 180, 48);
    border-color: rgb(48, 180, 48);
}

.details {
    border: 1px solid #ced4da;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0px;
}


.newDanger h5 {
    font-weight: bold;
    margin-top: 15px;
}

.form-floating textarea {
    height: 150px !important;
}

.dangerButton {
    width: 90px;
    height: 35px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
    border: 0.25px solid #000000;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    background: #EBEBEB;
    cursor: pointer;
}

.dangerButton:hover {
    background: greenyellow;

}

/* PROFILE PAGE */

#profileMain {
    width: 100%;
}

.profile-head h5 {
    font-size: 40px;
}

.profile-head h6 {
    font-size: 30px;
}

.profile-head p {
    font-size: 20px;
}

.profile-edit-btn {
    width: 80% !important;
    height: 20%;
    font-size: large;
}

.col-md-6 label {
    font-size: 20px;
}

.profile-work p {
    font-size: 20px !important;
}

.profile-work a {
    font-size: 18px !important;
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img input:hover {
    cursor: pointer;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #D68227;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #D68227;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #D68227;
}

    /*-------------login--------------*/

    .warpper-form
    {
        width: 75%;
        margin: 0px auto;
        margin-top: 5%;
        margin-bottom: 5%;
        background: white;
        border-radius: 20px;
    }
   
     
    .content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-left: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
    }
    
    .content form 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    

    .form-group {
        margin-bottom: 25px;
        width: 100%;
    }

    .loginBtn {
        background-color: #FFA834;
    }

    .loginBtn:hover {
        background-color: #D68227;
    }

    h4 a{
        color: black;

    }

    .Logout a{
        color: black;
        text-decoration: none;
    }

@media only screen and (max-width: 778px) {
    .profile-edit-btn {
        width: 50% !important;
        height: 100%;
        font-size: large;
    }
}

@media only screen and (max-width: 700px) {

    header {
        align-items: center;
        height: 130px;
    }

    .content form 
    {
        width: 100%;
    }

    header .navbar {
        display: flex;
    }

    .logo {
        background: url("/students/2021-2022/web1/dev_214/images/MobileLogo.png");
        max-width: 120px;
        height: 57px;
        margin-top: 0px;
        margin-left: 20px;
    }

    .user {
        max-width: 130px;
        flex-direction: column-reverse;
        margin-right: 0px;
    }

    .Shoshi {
        border-radius: 100%;
        max-width: 60px;
    }

    .user .Logout h4 {
        display: none;
    }

    #wrapper {
        max-width: 100%;
        height: 100%;
        display: block;
        margin-top: 20px;
    }

    #Container {
    }

    main {
        width: 100%;
    }

    .breadcrumb, .form-inline  {
        display: none;
    }

    /* HOME PAGE MOBILE */

    .titles {
        justify-content: space-around;
        margin-top: 20px;
        width: 100%;
        justify-content: space-around;
    }

    .titles h2 {
        margin-left: 0px;
        width: 300px;
    }

    .titles h2 {
        margin-left: 0px;
        width: 300px;
    }

    main {
        width: 100%;
    }

    .leftMain {
        width: 58%;
    }

    .upperDiv {
        width: 300px;
        margin-left: 0px;
    }

    .lowerDiv {
        width: 300px;
        margin-left: 0px;
    }

    aside {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .picSlider {
        width: 80%;
        margin-left: 0px;
    }

    .picSlider h3 {
        font-size: large;
    }

    footer {
        height: 100px;
    }

    footer h2 {
        font-size: larger;
    }

    /* PROFILE PAGE MOBILE */

    .profile-img img {
        width: 50%;
    }

    .profile-img .file {
        width: 50%;
    }

    .profile-head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col-md-2 {
        display: flex;
        justify-content: center;
    }

    .profile-work {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row .col-md-6 {
        display: flex;
        justify-content: center;
    }

    /* LIST PAGE MOBILE */

    #listMain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #accordion {
        display: block;
        width: 300px;
    }

    .table {
        display: none;
    }

    #listMain h2 {
        margin-left: 0px;
        width: 300px;
        margin-top: 20px;
    }

    .btn-link {
        color: #000000;
        border: none;
        text-decoration: none;
    }

    .btn-link:hover {
        color: #D68227;
    }

    .btn:focus {
        box-shadow: 0 0 0 0.25rem #D68227;
    }

    .btn-link:focus {
        text-decoration: none;
    }

    .cardDetails {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .cardDetails a {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #D68227;
        font-weight: bold;
    }

    /* LIST PAGE MOBILE */

    .objectTitle {
        align-items: center;
        flex-direction: column;
    }
    .leftTitle {
        width: 300px;
    }

    .leftTitle h2{
        font-size: 28px;
        margin-right: 10px;
        margin-left: 0px;
        width: 70%;
        height: auto;
    }

    .leftTitle h2{
        font-size: 20px;
        width: 30%;
    }

    .rightTitle {
        width: 300px;
    }

    .rightTitle h3 {
        font-size: 20px;
    }

    .rightTitle h4 {
        font-size: 18px;
    }

    .uploaderComment {
        width: 100%;
        margin-left: 38px;
    }

    .uploaderComment h4 {
        width: 300px;
    }

    #buttons {
        justify-content: space-evenly;
    }
    
    .objectButton {
        margin-left: 0px;
        width: 100px;
        font-size: 20px;
    }

    #aprove {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .dangerDetails img {
        width: 300px;
        margin-bottom: 20px;
    }
}